openapi: 3.2.0
info:
  title: Soton REST Interface Eprints API
  version: '2.0'
  x-generated: '2026-08-30'
  x-method: derived
  x-source: Derived from live probes of https://eprints.soton.ac.uk/rest/ on 2026-08-30. The dataset index, the eprint dataset listing and a single-record retrieval were each exercised against the running service. A captured record is held in examples/eprints-rest-eprint-498754.xml. The University publishes no OpenAPI description of this interface; this document is API Evangelist's.
  x-operator: institution
  x-operator-evidence: 'Same host and same evidence as the OAI-PMH surface: eprints.soton.ac.uk resolves to 152.78.118.18 in the University''s own address space, and the platform is EPrints 3.3.15, software developed at the University of Southampton itself.'
  description: The EPrints REST interface exposed by ePrints Soton, the University of Southampton's institutional research repository.
  contact:
    name: ePrints Soton
    email: eprints@soton.ac.uk
    url: https://eprints.soton.ac.uk/
servers:
- url: https://eprints.soton.ac.uk/rest
  description: ePrints Soton REST base, University of Southampton
tags:
- name: Eprints
  description: Individual repository records.
paths:
  /eprint/{eprintid}.xml:
    get:
      operationId: getEprintXml
      summary: Retrieve one repository record as EPrints XML
      description: 'Returns the native EPrints data model for a single record, including nested documents and files with their own stable identifiers. Verified 2026-08-30 against eprint 498754: 200, text/xml, 5106 bytes.'
      tags:
      - Eprints
      parameters:
      - name: eprintid
        in: path
        required: true
        description: Numeric EPrints record identifier.
        schema:
          type: integer
          examples:
          - 498754
      responses:
        '200':
          description: An EPrints XML document.
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/Eprints'
        '404':
          description: No such record.
        '401':
          description: Anubis proof-of-work bot challenge, keyed off a browser-like User-Agent.
components:
  schemas:
    File:
      type: object
      properties:
        fileid:
          type: integer
    Eprint:
      type: object
      properties:
        eprintid:
          type: integer
        rev_number:
          type: integer
        documents:
          type: array
          items:
            $ref: '#/components/schemas/Document'
    Document:
      type: object
      properties:
        docid:
          type: integer
        rev_number:
          type: integer
        files:
          type: array
          items:
            $ref: '#/components/schemas/File'
    Eprints:
      type: object
      description: Root of the EPrints data model, namespace http://eprints.org/ep2/data/2.0. Field set below is what the live service returned, not the full EPrints schema.
      properties:
        eprint:
          $ref: '#/components/schemas/Eprint'
